.App {
  text-align: center;
}
.podcast-container,
.faves-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  height: 40%;
  border: 1px solid black;
  margin: 2rem;
  padding: 1rem;
}
.card {
  width: 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.card .pod-image {
  height: 90%;
  width: 8vw;
}
.card button {
  background-color: black;
  color: white;
  border-radius: 5%;
  height: 25px;
}
.card button:hover {
  background-color: rgb(82, 80, 80);
}
